Repository allinbits/cosmos-cash, pull requests merged in 2021-09, with the labels that each got.

#221 chore: use EcdsaSecp256k1VerificationKey2019 as vm type
  docs/Explanation/ADR/adr-004-did.md
  x/did/client/cli/tx.go
  x/did/docs/03_state_transitions.md
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.puml
  x/did/docs/assets/QueryDidDocumentResponse_Cosmos.svg
  x/did/keeper/handler_test.go
  x/did/types/did.go
  x/did/types/did_test.go
  x/did/types/msg_test.go
  x/issuer/ante/ante.go
Labels: module:did, BREAKING

#224 feat(creds): adding functionality to delete verifiable credentials fr…
  app/app.go
  proto/verifiable-credential/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  x/did/types/keys.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/handler.go
  x/verifiable-credential/keeper/keeper.go
  x/verifiable-credential/keeper/keeper_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/keeper/verifiable-credential.go
  x/verifiable-credential/types/codec.go
  x/verifiable-credential/types/errors.go
  x/verifiable-credential/types/event.go
  x/verifiable-credential/types/expected_keepers.go
  x/verifiable-credential/types/msg.go
  x/verifiable-credential/types/tx.pb.go
Labels: feature, module:verifiable-credentials

#236 feat(create-issuer): remove ante handler in favor of using injected d…
  Makefile
  app/ante.go
  app/app.go
  proto/issuer/issuer.proto
  proto/issuer/tx.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/event.go
  x/issuer/types/expected_keepers.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/keys.go
  x/verifiable-credential/types/verifiable-credential.go
Labels: cascading

#235 feat(creds): restructure vc module to make refactoring easier
  Makefile
  app/ante.go
  app/app.go
  proto/issuer/issuer.proto
  proto/issuer/tx.proto
  proto/verifiable-credential/query.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/issuer.go
  x/issuer/keeper/keeper.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/event.go
  x/issuer/types/expected_keepers.go
  x/issuer/types/issuer.pb.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/client/cli/cli_test.go
  x/verifiable-credential/client/cli/query.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/grpc_query.go
  x/verifiable-credential/keeper/grpc_query_test.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/keys.go
  x/verifiable-credential/types/query.pb.go
  x/verifiable-credential/types/query.pb.gw.go
  x/verifiable-credential/types/verifiable-credential.go
Labels: enhancement, module:issuer, module:verifiable-credentials

#230 feat: improve support for the DID module (according to adr)
  proto/did/did.proto
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/did/client/cli/tx.go
  x/did/keeper/grpc_query.go
  x/did/keeper/handler_test.go
  x/did/keeper/msg_server.go
  x/did/module.go
  x/did/resolver/doc.go
  x/did/resolver/resolution.go
  x/did/resolver/resolver.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/did/types/did_test.go
  x/did/types/keys.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/verifiable-credential/client/cli/tx.go
  x/verifiable-credential/keeper/msg_server.go
  x/verifiable-credential/keeper/msg_server_test.go
  x/verifiable-credential/types/event.go
Labels: module:did, BREAKING

#237 chore: upgrade cosmos-sdk to version v0.44
  go.mod
  go.sum
Labels: enhancement, BREAKING

#248 feat(issuer): update kyc check ante handler
  scripts/seeds/04_user_seeds.sh
  x/did/keeper/did.go
  x/did/types/did.go
  x/issuer/ante/ante.go
  x/verifiable-credential/keeper/verifiable-credential.go
Labels: module:issuer, cascading

#246 feat(issuer): updates to minting and burning functionality
  proto/issuer/tx.proto
  scripts/seeds/02_verifiable_credentials_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  scripts/seeds/04_user_seeds.sh
  x/did/keeper/did.go
  x/did/types/did.go
  x/did/types/did.pb.go
  x/issuer/ante/ante.go
  x/issuer/client/cli/tx.go
  x/issuer/keeper/keeper_test.go
  x/issuer/keeper/msg_server.go
  x/issuer/keeper/msg_server_test.go
  x/issuer/types/errors.go
  x/issuer/types/msg.go
  x/issuer/types/tx.pb.go
  x/verifiable-credential/keeper/verifiable-credential.go
Labels: Security, module:issuer

#253 feat(issuer): update msg validation to check issuer did id
  x/issuer/keeper/issuer.go
  x/issuer/types/msg.go
Labels: cascading

#269 fix(ante): update ante handler tests
  Makefile
  scripts/seeds/01_identifier_seeds.sh
  scripts/seeds/02_verifiable_credentials_seeds.sh
  scripts/seeds/03_issuer_seeds.sh
  x/issuer/ante/ante.go
  x/issuer/ante/ante_test.go
  x/verifiable-credential/keeper/verifiable-credential.go
Labels: cascading
